@font-face{
   font-family: "pixel-boy";
   src: url("https://hc-cdn.hel1.your-objectstorage.com/s/v3/17607df21532f2ca2c23a94a8f2136cebd47e4ed_web437_ibm_ps-55_re.ttf") format("truetype");

}

@keyframes waving {
    0%{background-image: url("molly.png");}
    20%{background-image: url("molly-2.png");}
    40%{background-image: url("molly-3.png");}
    60%{background-image: url("molly-2.png");}
    80%{background-image: url("molly-3.png");}
    100%{background-image: url("molly-2.png");}
}

.waving {
    width: 100px;
    animation: waving 4s ease;
}

@keyframes lone-pair {
    0%{background-image: url("molly.png")}
    50%{background-image: url("lonepair.png")}
    100%{background-image: url("lonepair-2.png")}
}

.lone-pair {
    width: 100px;
    height: auto;
    animation: lone-pair 3s ease;
}

#text-box {
    padding: 10px;
    display: inline-block;
    align-items: center;
}

.element {
    display: inline;
    white-space: nowrap;
}

#molly {
    display: block;
    width: 100px;
    height: auto;
    position: absolute;
    top: 3%;
    right: 5%
  }

body {
    font-family: "pixel-boy", sans-serif;
}